#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

/ {
keymap {
compatible = "zmk,keymap";

/* --------------------------------------------------------------------------------
* Layer 0: 基本 (Base)
* 左親指: タップでSpace / 長押しでLayer 1 (数字)
* 右親指: タップでEnter / 長押しでLayer 2 (機能)
* その他: Windowsキー(&kp LGUI)、左クリック、右クリック
* -------------------------------------------------------------------------------- */
default_layer {
bindings = <
&kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P
&kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI
&kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp FSLH
&kp LALT &kp LCTRL &kp LGUI &lt 1 SPACE &mkp LCLK &mkp RCLK &lt 2 ENTER &kp BSPC
>;
};

/* --------------------------------------------------------------------------------
* Layer 1: 数字 & 記号 (左親指ホールド中)
* 左手: テンキー (789/456/123/0)
* 右手: 記号類
* -------------------------------------------------------------------------------- */
lower_layer {
bindings = <
&kp N7 &kp N8 &kp N9 &kp PLUS &kp STAR &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT
&kp N4 &kp N5 &kp N6 &kp MINUS &kp FSLH &kp CARET &kp AMPS &kp LPAR &kp RPAR &kp DQT
&kp N1 &kp N2 &kp N3 &kp EQUAL &kp DOT &kp GRAVE &kp LBKT &kp RBKT &kp BSLH &kp UNDER
&trans &kp N0 &kp DOT &trans &trans &trans &trans &kp DEL
>;
};

/* --------------------------------------------------------------------------------
* Layer 2: 移動 & スクロール (右親指ホールド中)
* 右手: 矢印 (HJKL) ＋ スクロール (U=上 / M=下)
* 左手: Fキー (F1-F12)
* -------------------------------------------------------------------------------- */
raise_layer {
bindings = <
&kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &msc SCRL_UP &kp UP &msc SCRL_DOWN &kp F10
&kp ESC &trans &trans &trans &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp F11
&trans &trans &trans &trans &trans &kp HOME &kp PG_DN &kp PG_UP &kp END &kp F12
&trans &trans &trans &trans &trans &trans &trans &trans
>;
};
};
};
